---
import RecipeCard from '../components/RecipeCard.astro';
import Layout from '../layouts/Layout.astro';
import type { Meal, MealDBResponse } from '../types/mealdb';

const data = await fetch('https://www.themealdb.com/api/json/v1/1/random.php');
const { meals } = (await data.json()) as MealDBResponse;
const recipe = meals?.[0];
---

<Layout>
  <div class="p-4 mx-auto flex flex-col items-center">
    <h1 class="font-bold text-4xl capitalize mb-12">featured meal</h1>
    {recipe && <RecipeCard recipe={recipe} />}
  </div>
</Layout>
