---
import '../styles/global.css';
import Header from '../components/Header.astro';
import { ClientRouter } from 'astro:transitions';
---

<!doctype html>
<html
  lang="en"
  class="scroll-smooth"
>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <ClientRouter />
    <title>Food Recipes</title>
  </head>
  <body class="min-h-screen">
    <div class="flex">
      <Header />
      <div class="w-full flex-1 p-6">
        <slot />
      </div>
    </div>
  </body>
</html>
